body {
    background-color: #ecf0f1;
    font-family: 'Balthazar', serif;
    padding: 0;
    margin: 0;
    position: relative;
}

#container {
    display: grid;
    grid-gap: 20px;
    padding-left: 25px;
    padding-right: 25px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "i b" "p p";
}

#header {
    border-bottom: #a4afb9 2px solid;
    height: 80px;
    width: 100%;
    margin-top: 0;
    grid-area: h;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #3498db;
    color: #ecf0f1;
}

#input {
    grid-area: i;
    padding: 10px;
    font-size: 1.5vw;
}

#posts {
    grid-area: p;
}

#post {
    grid-area: b;
    padding: 10px;
    background-color: #3498db;
    border: 1px solid #2980b9;
    box-shadow: 1px 1px 5px #2c3e50;
    display: flex;
    justify-content: center;
    font-size: 100%;
}

.post {
    background-color: #3498db;
    box-shadow: 1px 1px 3px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

button {
    cursor: pointer;
}

button[disabled] {
    cursor: context-menu;
}

.post-text {
    font-weight: bold;
}

.comment-btn {
    text-shadow: 1px 1px 5px rgb(17, 51, 83);
    vertical-align: middle;
    color: #ecf0f1;
    cursor: pointer;
    margin-left: 10px;
    font-size: 25px;
    background: none;
    border: none;
    padding: 0;
    outline: inherit;
}

.comments {
    grid-area: c;
    list-style: none;
    margin-left: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.delete {
    cursor: pointer;
    color: #ecf0f1;
    background-color: #e74c3c;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.8em;
    margin-left: 40px;
}

.commentInput {
    width: 85%;
    padding: 10px;
    font-size: 1vw;
}

.delete-comment {
    margin-right: 8px;
    font-size: 80%;
    cursor: pointer;
    color: #e74c3c;
}

button:disabled {
    opacity: 0.5;
    cursor: context-menu;
}
